:root {
  text-align: center;
  color: white;
  background-color: #121213;
}
.header {
  background-image: url(./pics/dark.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
h3 {
  font-size: 40px;
  font-family: inherit;
}
.to-do-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 100px;
}
.header-uncompleted {
  border: 5px solid;
  border-color: white;
  margin: 30px 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: rgb(98, 98, 98);
}
.header-completed {
  border: 5px solid;
  border-color: white;
  margin: 30px 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: rgb(98, 98, 98);
}
.todo-priority {
  padding-right: 2px;
  padding-left: 2px;
}
.todo-text {
  padding-right: 12px;
}
.todo-created-at {
  padding-right: 8px;
}
.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  border-top: 5px solid;
  padding: 30px 0px;
  justify-content: space-around;
}
.very-low {
  background-color: blue;
  height: 30px;
  margin: 0px 15px;
}

.low {
  background-color: tomato;
  height: 30px;
  margin: 0px 15px;
}

.normal {
  background-color: rgb(179, 144, 79);
  height: 30px;
  margin: 0px 15px;
}

.high {
  background-color: rgb(214, 199, 148);
  height: 30px;
  margin: 0px 15px;
}

.very-high {
  background-color: rgb(156, 75, 75);
  height: 30px;
  margin: 0px 15px;
}
form {
  font-size: 23px;
}
.formStyle {
  background-color: rgb(65, 109, 126);
  border: 0;
  outline: 4px solid transparent;
  font-size: var(--font-size);
  padding: 20px 50px;
  transition: outline 150ms linear;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.formStyle:hover,
.formStyle:focus {
  outline-color: rgb(192, 188, 223);
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons:active {
  box-shadow: 0 5px rgb(16, 125, 197);
  transform: translateY(4px);
}
.buttons {
  width: 170px;
  height: 70px;
  color: white;
  font-size: 22px;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
}
.buttons {
  background: linear-gradient(
    -45deg,
    #295b7c,
    rgb(45, 84, 128),
    rgb(20, 20, 20)
  );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden {
  visibility: hidden;
}

.labelComments {
  font-size: 40px;
  font-family: inherit;
}
.notes {
  font-size: 25px;
  font-family: inherit;
  border: 10px solid;
  border-color: darkblue;
}
#comment {
  background-image: url("./pics/notes.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hide-list:hover {
  color: black;
  background-color: white;
}
.checkbox {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.checkbox:hover {
  opacity: 0.8;
  transform: scale(1.5);
  transition: transform 2s;
}
.checkbox:checked {
  opacity: 0.8;
  transform: scale(2.2);
}
.remove-button {
  font-size: 20px;
  margin-left: 15px;
}
.edit-button {
  font-size: 20px;
  margin-left: 20px;
}
.remove-button:hover {
  opacity: 0.8;
  transform: scale(1.5);
  transition: transform 2s;
}
.edit-button:hover {
  opacity: 0.8;
  transform: scale(1.5);
  transition: transform 2s;
}
.floating-menu {
  font-family: monospace;
  background: black;
  padding: 5px;
  padding-right: 13px;
  width: 80px;
  z-index: 100;
  position: fixed;
  bottom: 270px;
  right: 0px;
}

.floating-menu h3 {
  font-size: 20px;
  margin: 15px;
  color: white;
}
.floating-menu a {
  width: 40px;
  height: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 25px;
  display: block;
  color: black;
  background-color: white;
}
.floating-menu a:hover {
  background-color: darkblue;
  color: white;
}
.main-paragraph {
  font-size: 40px;
  margin-top: 100px;
}
.second-paragraph {
  font-size: 25px;
}
.img-list {
  height: 130px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  flex-direction: row;
}

.carousel {
  width: 100%;
  padding: 30px 0px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(19, 42, 19);
}
.img-option {
  width: 130px;
  height: 140px;
  padding-left: 35px;
}
.img7 {
  border-radius: 50%;
  height: 40px;
}
.search-input {
  height: 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
}
.second-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.highlight {
  background-color: rgb(100, 92, 92);
}
