body {
  background: linear-gradient(-45deg, #d6ccb8, #8b765a, #776c53);
  /* background: linear-gradient(
      -45deg,
      rgb(90, 99, 105),
      rgb(59, 62, 66),
      rgb(20, 20, 20)
    ); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
