:root {
  text-align: center;
  background-color: #8b765a;
  color: white;
}
.header {
  background-image: url("./header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1100px;
  height: 260px;
  margin-left: 280px;
  margin-top: 50px;
  margin-bottom: 100px;
}
h3 {
  font-size: 40px;
  font-family: inherit;
}
.to-do-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.header-uncompleted {
  border: 5px solid;
  border-color: white;
  margin: 30px 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: skyblue;
}
.header-completed {
  border: 5px solid;
  border-color: white;
  margin: 30px 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 25px;
}
.todo-priority {
  padding-right: 10px;
  padding-left: 20px;
}
.todo-text {
  padding-right: 10px;
}
.todo-created-at {
  padding-right: 20px;
}
.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
}
.very-low {
  background-color: blue;
}

.low {
  background-color: gray;
}

.normal {
  background-color: rgb(179, 144, 79);
}

.high {
  background-color: rgb(214, 199, 148);
}

.very-high {
  background-color: rgb(156, 75, 75);
}
form {
  font-size: 23px;
}
.formStyle {
  background-color: black;
  border: 0;
  outline: 2px solid transparent;
  font-size: var(--font-size);
  padding: 0.5em 1em;
  height: var(--height);
  transition: outline 150ms linear;
  color: white;
}

.formStyle:hover,
.formStyle:focus {
  outline-color: yellow;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
}

.buttons {
  background-color: black;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}
.buttons {
  background: linear-gradient(
    -45deg,
    #beb47a,
    rgb(194, 193, 188),
    rgb(219, 193, 133)
  );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden {
  visibility: hidden;
}

.labelComments {
  font-size: 30px;
  font-family: inherit;
}
.notes {
  font-size: 20px;
  font-family: inherit;
  border: 10px solid;
  border-color: aqua;
}
#comment {
  background-image: url("./notes.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hide-list:hover {
  color: aquamarine;
}
#item0 {
  height: 30px;
  width: 30px;
}
